.noscroll {
  overflow: hidden;
}
header {
  width: 100%;
  padding: 0 20px;
}
.container {
  max-width: 1280px;
}
.hamburger-wrap .toggler {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger-wrap {
  position: relative;
}
.hamburger-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 30px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Hamburger Line */
.hamburger-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.hamburger-wrap .hamburger > div::before,
.hamburger-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* Moves Line Down */
.hamburger-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.hamburger-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.hamburger-wrap .toggler:checked + .hamburger > div:before,
.hamburger-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.hamburger-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.hamburger-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.hamburger-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.hamburger-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.nav_links {
  display: none;
}
.end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .social,
  .cart {
    display: none;
  }
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.title {
  margin: 0;
  padding: 0 16px 0 0;
}
.menu_links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px 0 30px 0;
}
.modal {
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1000;
  transition: all 0.5s;
}
.hamburger_links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hamburger_links li {
  padding: 15px;
}
.hamburger_links a {
  font-size: 35px;
}
.hamburger_social a {
  font-size: 30px;
  font-weight: 400;
}
.fa-instagram {
  padding-right: 10px;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  transition: all 0.5s;
  overflow: scroll;
}
@media only screen and (min-width: 1200px) {
  header,
  section,
  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header {
    width: 1280px;
  }
  .nav .hamburger,
  .toggler,
  .modal,
  .overlay {
    display: none;
  }
  .nav_links {
    display: inline-flex;
    width: 200px;
    justify-content: space-between;
  }
  .current-page {
    border-bottom: #aba6a1 solid;
  }
  .title {
    padding-right: 100px;
  }
  .end {
    .social {
      display: inline;
      padding-right: 50px;
      font-size: 20px;
      font-weight: 400;
    }
    .cart {
      display: inline;
      font-weight: 400;
      font-size: 20px;
    }
  }
}
